* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.header {
    display: block;
    width: 100%;
    background-color: red;
}

.header__title {
    text-align: center;
    color: #fff;
    margin: 0;
    font-size: 4rem;
    font-weight: 700;
}

.nav {
    display: block;
    width: 100%;
    background-color: orange;
    padding: 20px 0;
}

.nav__block {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 5px;
}

.nav__item {
    list-style: none;
    color:#fff;
    font-size: 2rem;
}

.nav__link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.nav__link:hover {
    list-style: none;
    color: rgb(235, 5, 5);
    text-decoration: underline;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
    width: 100%;
    background-color: green;
    padding: 20px;
    gap: 10px;
}

.article {
    width: 100%;
    padding: 20px;
    background-color: blue;
    color:#fff;
}

.article__title {
    font-size: 2rem;
}

.article__block {
    padding: 20px;
}

.article__item {
    font-size: 20px;
    
}


.footer {
    background-color: pink;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
}

