@import '../fonts/fonts.css';
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import '../../components/page/page.css';
@import '../../components/header/header.css';
@import '../../components/preview/preview.css';
@import '../../components/footer/footer.css';
@import '../../components/container/container.css';
@import '../../components/card/card.css';
@import '../../04-lection2/01-histogram/histogram.css';
@import '../../components/menu/menu.css';
@import '../../components/component-preview/component-preview.css';


:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
